body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background-image: url('cric-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container{
    display: grid;
    grid-template-columns: 80px 1fr 80px;
}

.main-container > * {
    grid-column: 2;
    min-width: 0;
}

.main-container > header{
    grid-column: 1 /-1;
    height: 100px;;
}

nav {
    width: 100%;
    display: flex;
    background-color: #D50000;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    height: 50px;
    width: 50px;
    background-image: url('cricket-logo.png');
    background-position: center;
    background-size: cover;
    
}

.logo-text{
    font-weight: 900;
    margin-left: 5px;
    color: white;
    font-size: 1em;
    width: 300px;
}

.logo-text > h4 {
    font-size: 1em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    text-align: right;
}

li{
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
}

li a {
    text-decoration: none;
    color: white;
    
}

li:hover {
    /* background-color: black;*/
    cursor: pointer; 
    -moz-box-shadow:    inset 0 0 8px rgba(0,0,0, 0.4);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0, 0.4);
    box-shadow:         inset 0 0 8px rgba(0,0,0, 0.4);
    border-radius: 8px;
}

li:hover a{
    color: #FAFAFA;    
}

li a:hover{
    text-decoration: none;
}

.active {
    -moz-box-shadow:    inset 0 0 8px #000000;
    -webkit-box-shadow: inset 0 0 8px #000000;
    box-shadow:         inset 0 0 8px #000000;
    border-radius: 8px;
}

.news-section{
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-top: 8px;
}

.title {
    background-color: #FAFAFA;
    color: #D50000;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.news-item{
    height: 100px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
}

.news-img{
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
}

.news-body{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    height: 100px;
}

.news-title > h3{
    font-size: 1em;
    color: #212121;
    font-weight: 900;
}

.news-description{
    color: #616161;
    font-size: 0.7em;
    font-weight: 600;
}

.publish-time{
    margin-top: auto;
}

.publish-time > p {
    font-size: 0.6em;
    color: #757575;

}

@media screen and (max-width: 500px){
    .main-container{
        display: grid;
        grid-template-columns: 8px 1fr 8px;
    }

    .main-container > * {
        grid-column: 2;
        min-width: 0;
    }
}




